# Hardhat folders
/artifacts/
/cache/
/coverage/
/coverage.json
/typechain-types

# Hardhat Ignition deployment state
/ignition/deployments

# Node.js folders
/node_modules

# Environment variables
.env